<launch>
  <arg name="map_measured" doc="name of map .yaml file in maps folder"/>
  <arg name="map_truth" doc="name of map .yaml file in maps folder"/>

  <node 
    pkg="map_server" 
    type="map_server" 
    name="map_measured_server" 
    args="$(find dr-phil-qa)/maps/$(arg map_measured).yaml">
    <remap from="/map" to="/map_measured" />
  </node>

  <node 
    pkg="map_server" 
    type="map_server" 
    name="map_truth_server" 
    args="$(find dr-phil-qa)/maps/$(arg map_truth).yaml">
    <remap from="/map" to="/map_truth" />
  </node>
</launch>