<?xml version="1.0"?>

<launch>
    <!-- launch map creation  -->
    <include file="$(find dr-phil)/launch/slam_stack/gmapping.launch" />
    <!-- launch navigation  -->
    <include file="$(find dr-phil)/launch/navigation_stack/move_base.launch" />
    <!-- launch exploration node -->
    <include file="$(find dr-phil)/launch/explore_stack/explore_lite.launch" />
</launch>
