

.inpage-menu-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* justify-content: space-bw; */
}

/* responsive */
@media only screen and (max-width: 800px) {
    .inpage-menu-container {
        flex-direction: column;
        max-width: 150px;
        margin: auto;
    }
}

.inpage-menu-container div {
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: #77aaa2;
    border-radius: 15px;
    flex-grow: 1;
    text-align: center;
    transition-duration: 0.3s;
}

.inpage-menu-container div:hover {
    background-color: #c0d8d4;
}

.inpage-menu-container div a {
    padding: 10px;
    color: rgb(0, 0, 0);
    /* font-weight: bold; */
    display: block;
    width: 100%;
    height: 100%;
}

.inpage-menu-container div a:hover {
    background: rgba(20, 33, 61, 0.0);
    text-decoration: none;
}

.button {
  background-color: #77aaa2;
  border: none;
  border-radius: 4px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.button:hover {
  background-color: #c0d8d4;
}


.my-font  {
      width:auto;
      margin-left:1px;
      float:left;
      font-family:Arial, Helvetica, sans-serif; 
      font-size:13px;
      color:#d81010;
      line-height:35px;
      text-transform:uppercase

      }  
