<?xml version="1.0"?>

<launch>
    <!-- launch navigation  -->
    <include file="$(find dr_phil_hardware)/launch/navigation_stack/move_base.launch" />
    <!-- launch localization nodes -->
    <include file="$(find dr_phil_hardware)/launch/localization_stack/amcl.launch" />
    <include file="$(find dr_phil_hardware)/launch/localization_stack/handle_features.launch" />

</launch>
