<launch>

  <!-- setup arguments -->
  <arg name="model" default="waffle_pi" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="world" default="decoratedHouse-wDoors"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find dr_phil_gazebo)/models" />

  <!-- setup world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find dr_phil_gazebo)/worlds/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>


  <!-- spawn up dr-phil, save robot_description -->

  <!-- sets robot_description parameter for rviz and robot state publisher-->
  <include file="$(find dr_phil_description)/launch/includes/description.launch.xml"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>
  
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model dr-phil -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  <node name="px100_control_merger" pkg="dr_phil_gazebo" type="px100_joint_controller_merger.py" respawn="true" />
  <node name="battery_level" pkg="dr_phil_gazebo" type="battery_level.py" respawn="true" />
  <node name="spray_controller" pkg="dr_phil_gazebo" type="spray_controller" respawn="true" />

  <!-- spawn arm controllers -->

  <include file="$(find dr_phil_gazebo)/launch/arm/arm.launch"/>

  <!-- launch hardware scripts -->

  <include file="$(find dr_phil_hardware)/launch/hardware.launch"/>

  <!-- start rviz -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dr_phil_gazebo)/rviz/dr-phil_gazebo.model.rviz" /> 
</launch>
