<launch>

  <!-- setup arguments -->
  <arg name="model" default="waffle_pi" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="world" default="decoratedHouse-wDoors"/>
  <arg name="launch_rviz" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="gui" default="$(eval not arg('headless'))"/>

  <!-- if this is false collisions with actors wont be registered !!! -->
  <arg name="use_gpu_ray" default="true" />

  <env name="GAZEBO_MODEL_PATH" value="$(find dr_phil_gazebo)/models" />

  <!-- setup world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find dr_phil_gazebo)/worlds/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>

    <!-- if running headless disable gui -->
    <arg name="gui" value="$(arg gui)"/> 
    <arg name="headless" value="$(arg headless)"/>

    <arg name="debug" value="false"/>
  </include>


  <!-- spawn up dr-phil, save robot_description -->

  <!-- sets robot_description parameter for rviz and robot state publisher-->
  <include file="$(find dr_phil_description)/launch/includes/description.launch.xml">
    <arg name="use_gpu_ray" value="$(arg use_gpu_ray)" />
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>
  
  <node name="px100_control_merger" pkg="dr_phil_gazebo" type="px100_joint_controller_merger.py" respawn="false" />
  <node name="battery_level" pkg="dr_phil_gazebo" type="battery_level.py" respawn="false" />
  <node name="spray_controller" pkg="dr_phil_gazebo" type="spray_controller" respawn="true" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model dr-phil -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description " />


  <!-- spawn arm controllers -->

  <include file="$(find dr_phil_gazebo)/launch/arm/arm.launch"/>

  <!-- launch hardware scripts -->

  <include file="$(find dr_phil_hardware)/launch/hardware.launch">
    <arg name="simulation" value="true"/>
  </include>

  <!-- start rviz -->
  <group if="$(eval arg('launch_rviz') ==true)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find dr_phil_gazebo)/rviz/dr-phil_gazebo.model.rviz" /> 
  </group>
  
</launch>
